
/*iPhone 5 */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
   html, body {
        overflow-x: hidden !important;
    }

    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    
    .App-header {
        background-color: blue;
        color: powderblue;
        font-weight: 700;
    }

    .date {
        font-size: 4rem;
        width: 60%;
    }

    .lat-lon {
        font-size: 2rem;
        padding-top: 2rem;
    }

    .temp {
        font-size: 7rem;
    }

    .precip {
        padding-left: 1rem;
    }

    .App-daily {
        width: 69rem;
        padding-left: .5rem;
        background-color: blue;
    }
    
    .card {
        width: 25%;
        border: 5px solid black !important;
        font-family: monospace;
        flex: unset !important;
        height: 34rem;
    }

    .hi-lo {
        padding-left: 1.8rem;
    }
}

/*iPhone 6/7/8 */
@media only screen 
and (min-device-width: 375px)
and (max-device-width: 667px) {
     body {
        overflow-x: hidden !important;
    }

    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    
    .App-header {
        background-color: cadetblue;
    }

    .date {
        font-size: 4rem;
        width: 55%;
    }

    .lat-lon {
        font-size: 2rem;
        padding-top: 2rem;
    }

    .App-daily {
        width: 80rem;
        padding-left: .85rem;
        background-color: blue;
    }

    .hi-lo {
        padding-left: 1.8rem;
    }
}

/*iPhone 6/7/8Plus */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) {
    html, body {
        overflow-x: hidden !important;
    }

    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    
    .App-header {
        background-color: cadetblue;
    }

    .date {
        font-size: 4rem;
        width: 55%;
    }

    .lat-lon {
        font-size: 2rem;
        padding-top: 2rem;
    }

    .App-daily {
        width: 80rem;
        padding-left: 2.2rem;
        background-color: blue;
    }

    .hi-lo {
        padding-left: 1.8rem;
    }

    .card {
        width: 25%;
        border: 5px solid black !important;
        font-family: monospace;
        flex: unset !important;
        height: 33rem;
    }
}
    /*iPad */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
    /* html, body {
        overflow-x: hidden !important;
    }

    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }  */
    
     .App-header {
        background-color: cadetblue;
    }

    .date {
        font-size: 4rem;
        width: 55%;
    }

    .lat-lon {
        font-size: 2rem;
        padding-top: 2rem;
    }

    .App-daily {
        width: 80rem;
        padding-left: 2.2rem;
        background-color: blue;
    }

    .hi-lo {
        padding-left: 1.8rem; 
    }

    .card {
        width: 25%;
        border: 5px solid black !important;
        font-family: monospace;
        flex: unset !important;
        height: 33rem;
    }
}
