body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.temp {
  font-size: 9rem;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-header {
  background-color: aqua;
  color: white;
}

.lat-lon {
  font-size: 3rem;
}

.App-hourly {
  color: white;
  font-size: 3rem;
}

.App-daily {
  background-color: aquamarine;
  color: #212529;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  font-weight: 500;
}

.App-daily-day {
  font-size: 3rem;
  color: black;
}

.summary {
  /* color: white; */
  font-size: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sunny {
  color: yellow;
}

.cloudy {
  color: rgb(36, 34, 34);
}

.night-clear {
  
}

.clear-day {
  color: yellow;
}

.rain {
  color: gray;
}

.snow {

}

.sleet {

}

.fog {

}

.partly-cloudy-night {
  color: #212529;
}

.windy {

}

.App-hour-summary {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(201, 191, 191);

}