body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.temp {
  font-size: 6rem;
}

.App-header {
  background-color: aqua;
  color: white;
}

.lat-lon {
  font-size: 3rem;
}

.App-hourly {
  color: white;
}

.App-daily {
  background-color: aquamarine;
  color: black;
  font-size: 3em;
  height: 100%;
  width: 100%;
  font-weight: 500;
}

.summary {
  color: white;
  font-size: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
