body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.date {
  font-size: 7rem;
  font-weight: 520;
  width: 30%;
  color: black;
  font-family: monospace;
}

.temp {
  font-size: 9rem;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-header {
  background-color: aqua;
  color: white;
  
}

.lat-lon {
  font-size: 3rem;
  
}

.App-hourly {
  color: white;
  font-size: 3rem;
}

.hour-icon {
  font-size: .5rem;
}

.App-daily {
  background-color: aquamarine;
  color: #212529;
  height: 20%;
  width: 100%;
  font-weight: 500;
  
}

.h-35 {
  height: 35%;
}


.card {
  /* width: 100%; */
  border: 5px solid black !important;
  font-family: monospace;
  flex: unset !important;
  height: 30rem;
}

.App-daily-day {
  font-size: 6rem;
  color: black;
}

.hi-lo {
  font-size: 2rem;
}
/* 
.pb-2 {
  padding-bottom: 2;
} */

.summary {
  /* color: white; */
  font-size: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sunny {
  color: yellow;
}

.cloudy {
  /* color: rgb(36, 34, 34); */
  color: gray;
}

.night-clear {
  
}

.clear-day {
  color: yellow;
}

.rain {
  color: deepskyblue;
}

.snow {
  color: white;
}

.sleet {
  color: gray;
}

.fog {

}

.partly-cloudy-night {
  /* color: #212529; */
  color: grey;
}

.windy {

}

.App-hour-summary {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(201, 191, 191);

}

